
<div id="about">
<h1>About Maroon</h1>
  <p>Maroon started as a journey into knowing Ruby and Ruby on Rails.</p>
  <p>Simple syntax is the key takeaway from this language.</p>
  <br>
  <p>In layman's terms, this is like cake. And it subtly stands out from the rest.
     More of like the shiny new toy at the toy store. </p>
  <p>So if you have had a quirky , funny or disastrous story. This is the place for   you to be. We would not judge you but profanity is a strict NO-NO. </p>

<blockquote id="about-quote">
  <i><b>If you know what you want with my syntax, I shall deliver accordingly.
                                                                   -- Ruby</b></i>
</blockquote>

</div>