
<div class="contact">
  <h1 class="contact-header">Conatct Us</h1>
    <div class="cotact-content">
      <p>You can call us at +91 xxx-xxx-xxxx or email us at mymail@gmail.com</p>
      
      <p>Or do drop by. We are nearer than you expect us to be. Just follow along the map below.</p>
      <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ7YSPdC0TtzsRpCbfPzfT9ls&key=AIzaSyBTweK2YReaxHwVetkpL7F1LrdkDNLPej8"></iframe>
    </div>
</div>



