<div class="faqtop">

<div class="faqhead">
<h1>FAQ</h1>
</div>  

<h2 class="que1"> Question 1</h2>
<p>It can be any dummy text. blah blah blah.</p>

<h2 class="que1"> Question 2</h2>
<p>It can be any dummy text. blah blah blah.</p>

<h2 class="que1"> Question 3</h2>
<p>It can be any dummy text. blah blah blah.</p>

<h2 class="que1"> Question 4</h2>
<p>It can be any dummy text. blah blah blah.</p>

</div>